[Desktop Entry]
Name=Transmission(over TOR)
GenericName=BitTorrent Client
X-GNOME-FullName=Transmission BitTorrent Client(Over TOR)
Comment=Download and share files over BitTorrent
Exec=torsocks transmission-gtk %U
Icon=transmission
Terminal=false
TryExec=transmission-gtk
Type=Application
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P;GTK;
