[Desktop Entry]
Name=GnuPG Assistant
Name[sv]=GPA
Name[en_US]=GnuPG Assistant
GenericName=GnuPG GUI Front End
Exec=gpa
Icon=gpa
Terminal=false
Type=Application
Categories=GTK;Application;Security;Utility;
Comment=GNU Privacy Assistant
Comment[sv]=GNU Integritets-hjälpreda
Comment[en_US]=GNU Privacy Assistant
